<h1>LogIn</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">You are Successfully Logged in.</h5>

  <label>
    UserName:
    <input type="text" formControlName="userName">
    <div *ngIf="submitted && messageForm.controls.userName.errors" class="error">
      <div *ngIf="messageForm.controls.userName.errors.required">Username is required</div>
    </div>
  </label>

  <label>
    Password:
    <input formControlName="password">
    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
      <div *ngIf="messageForm.controls.password.errors.required">Password is required</div>
    </div>
  </label>

  <input type="submit" value="Log Me In" class="cta">

</form>

